/* Responsive grid based on getskeleton.com - CSS and HTML styled by Eric Ellis. */
* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "suisse";
  src: url("suisse.woff2") format("woff2"),
       url("suisse.woff") format("woff");}

.about {
  background-color: #009cf7;
  padding-top: 2em;}

.container {
  position: relative;
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.work {
  background-color: white;}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.project-text-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.project-text-one {
  width: 85%;
  float: left;
  box-sizing: border-box; }
.project-text-two {
  width: 15%;
  text-align: right;
  float: right;
  box-sizing: border-box;}

/* Desktop */
@media (min-width: 550px) {

  .column {
    margin-left: 4%; }
  .column:first-child {
    margin-left: 0; }

  .one.column                    { width: 4.66666666667%; }
  .two.column                    { width: 13.3333333333%; }
  .three.column                  { width: 22%;            }
  .four.column                   { width: 30.6666666667%; }
  .five.column                   { width: 39.3333333333%; }
  .six.column                    { width: 48%;            }
  .seven.column                  { width: 56.6666666667%; }
  .eight.column                  { width: 65.3333333333%; }
  .nine.column                   { width: 74.0%;          }
  .ten.column                    { width: 82.6666666667%; }
  .eleven.column                 { width: 91.3333333333%; }
  .twelve.column                 { width: 100%; margin-left: 0; }

  .one-third.column              { width: 30.6666666667%; }
  .two-third.column              { width: 65.3333333333%; }
  .half.column                   { width: 48%; }
  .offset-by-one.column          { margin-left: 4.66666666667%; }
  .offset-by-two.column          { margin-left: 17.3333333333%; }
  .offset-by-three.column        { margin-left: 26%; }
}

html { font-size: 69.5%; }
body {
  font-size: 2.5em;
  line-height: 1.2;
  letter-spacing: -0.001em;
  font-weight: 400;
  text-align: left;
  font-family: "suisse", sans-serif;
  color: black; }

img {
  margin: 0 0 .1em 0;
  max-width: 100% !important;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;}

.opennew {
  opacity: .4;
  width:12px;
  margin-left: 6px;
  margin-right: 10px;
  margin-bottom: 0px;}

.project { cursor: url(../img/cursor.png), e-resize; }
.multi { mix-blend-mode: multiply; }
.selfi { mix-blend-mode: multiply;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }

/* Type - Desktop */
@media (min-width: 550px) {
  body  {font-size: 3.5rem;}
  .work, .credit {font-size: 2.4rem; letter-spacing: 0.00em;}
  .bigboy {font-size: 3.5rem; text-align: center;}
}

.center {margin: 0 auto; text-align: center !important;}
.gray { opacity: .3;}

a {
  color: inherit;
  opacity: 1;
  transition: opacity .12s ease-in-out;
  -moz-transition: opacity .12s ease-in-out;
  -webkit-transition: opacity .12s ease-in-out;
  -o-transition: opacity .12s ease-in-out;
  text-decoration: none;}

.profile a {
  opacity: .4;
}

a:hover {
  opacity: .3; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;}

.nav {
  display: flex;
  width: 95vw;
  height: 150px;
  margin-top: 8px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;}

.second-nav {
  display: flex;
  width: 95vw;
  height: 90px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;}

.job {
  margin-left: auto;
  margin-right: auto;}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

.row {margin-bottom: 3em;}

.top5 { margin-top: 5em;}
.bottom3 { margin-bottom: 3em;}
.bottom10 { margin-bottom: 10em;}
.profile-row {margin-bottom: 1.65em;}
@media (min-width: 550px) {.bottom3 { margin-bottom: 0;}}
